<div class="login-info">
    <span>
        <a href="../account" id="show-shortcut" data-action="">
            @*<img src="~/content/img/avatars/sunny.png" alt="me" class="online" />*@
            <span>@User.Identity.Name.ToLower()</span>
            <i class="fa fa-angle-down"></i>
        </a>
    </span>
</div>